.chak{
    background-color: rgb(234, 216, 127);
    border-radius: 15px;
    height: 350px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
